.category-list > li > .category,
.sub-list > li > .category {
  color: #777;
  background-color: #f3f3f3;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0px;
  padding: 8px 6px;
}
.category-list > li > .category > a,
.sub-list > li > .category > a {
  color: #777;
  display: list-item;
}
.category-list > li > .category > a.active,
.sub-list > li > .category > a.active {
  color: #1d89cf;
}
.category-list > li > .category > a.active:hover,
.sub-list > li > .category > a.active:hover {
  color: #1d89cf;
}
.category-list > li > .category > a.active:focus,
.sub-list > li > .category > a.active:focus {
  color: #1d89cf;
}
.category-list > li > .category > a:hover,
.sub-list > li > .category > a:hover {
  color: #333333;
}
.category-list > li > .category > a:focus,
.sub-list > li > .category > a:focus {
  text-decoration: none;
}
.category-list > li > .category:hover,
.sub-list > li > .category:hover {
  background-color: rgba(0, 0, 0, 0.06);
  color: #333333;
}
.category-list > li > .category:hover .actions,
.sub-list > li > .category:hover .actions {
  display: block;
  position: absolute;
  right: 0;
}
.category-list > li > .category > .fa-caret-down,
.sub-list > li > .category > .fa-caret-down {
  font-size: 12px;
}
.category-list > li > .category > .badge,
.sub-list > li > .category > .badge,
.category-list > li > .category > .label,
.sub-list > li > .category > .label {
  top: -1px;
}
.category-list > li > .category .actions,
.sub-list > li > .category .actions {
  float: right;
  display: none;
}
.category-list > li,
.sub-list > li {
  margin-left: 0;
  margin-right: 6px;
}
.category-list > li + li,
.sub-list > li + li {
  margin-left: 0;
}
.category-list.nav-stacked > li,
.sub-list.nav-stacked > li {
  margin: 0 0 4px 0;
}
#body_datasources_data_index {
  background: #fff;
}
#body_datasources_data_index #content-wrapper {
  padding: 45px 0 18px 0;
}
.theme-default .page-mail .mail-nav-header {
  color: #333333;
}
.page-mail .mail-nav {
  border-color: #e2e2e2;
}
.page-mail .mail-nav .compose-btn {
  border-bottom-width: 0;
}
.sections-list {
  min-height: 50px;
}
.sections-list .sub-list {
  display: none;
  padding-left: 7px;
}
.folder-container {
  background: #fff;
}
.sections {
  margin: 0 !important;
}
.dropable-hover {
  border: 2px dashed #ccc;
  background: #fff;
}
.page-mail .mail-nav .mail-nav-header {
  padding-right: 16px;
  margin-top: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 1px solid #e2e2e2;
  cursor: pointer;
}
.dropable-hover .mail-nav-header:first-child {
  border-top-width: 0px !important;
}
.page-mail .mail-nav .mail-nav-header .remove-folder {
  cursor: pointer;
}
.page-mail .mail-nav .sections li a .section-draggable {
  margin: 12px 18px 0 0;
  cursor: move;
  color: #c2c2c2;
}
.headline tbody tr.unpublished th,
.headline tbody tr.unpublished td {
  color: #ccc;
}
.headline tbody tr.unpublished th a,
.headline tbody tr.unpublished td a {
  color: #ccc;
}
#html_fields textarea {
  width: 100%;
}
#html_fields .nav {
  padding: 10px 10px 0;
}
#html_fields .tabs-content {
  position: relative;
  height: 240px;
  background-color: #fff;
  margin-top: -20px;
}
#html_fields .tabs-content .tab-pane {
  height: 240px;
  width: 100%;
  z-index: 1;
  position: absolute;
}
#html_fields .tabs-content .tab-pane.active {
  z-index: 2;
}
#html_fields .tabs-content .tab-pane:after {
  clear: both;
}
#field-options fieldset {
  display: none;
}
#array_fields .select2-search-choice,
#document_fields .select2-search-choice {
  float: none;
  padding: 10px 0 10px 25px;
}
#array_fields .select2-container-multi .select2-search-choice-close,
#document_fields .select2-container-multi .select2-search-choice-close {
  top: 10px;
  left: 10px;
}
#document_fields .select2-search-choice + .select2-search-field {
  display: none;
}
table.catalog_table,
table.catalog_table td,
table.catalog_table th {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
table.catalog_table thead .sorting,
table.catalog_table thead .sorting_asc,
table.catalog_table thead .sorting_desc,
table.catalog_table thead .sorting_asc_disabled,
table.catalog_table thead .sorting_desc_disabled {
  cursor: pointer;
}
table.catalog_table thead .sorting:after {
  content: "\f0dc";
  display: block;
}
table.catalog_table thead .sorting_asc {
  background: rgba(0, 0, 0, 0.05);
}
table.catalog_table thead .sorting_asc:after {
  content: "\f0dd";
  display: block;
}
table.catalog_table thead .sorting_desc {
  background: rgba(0, 0, 0, 0.05);
}
table.catalog_table thead .sorting_desc:after {
  content: "\f0de";
  display: block;
}
table.catalog_table thead .sorting_asc_disabled:after {
  content: "\f0dd";
  display: block;
  opacity: .3;
}
table.catalog_table thead .sorting_desc_disabled:after {
  content: "\f0de";
  display: block;
  opacity: .3;
}
table.catalog_table th {
  position: relative;
}
table.catalog_table th:after {
  display: none;
  font-family: FontAwesome;
  font-size: 11px;
  font-weight: normal !important;
  line-height: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 8px;
  width: 20px;
}
table.catalog_table th:active {
  outline: none;
}
