/* ===========================================================
               Страница item (просмотр товара)
=========================================================== */
.goodsPosition .gImage .image:before {
/*
Этот параметр задается в основных стилях style.css
В основных стилях я не стал ничего трогать, а просто тут переназначил.
 */
    margin-top: 0;
}
.goodsPosition .gImage .image-video:before {
/*
Этот седектор нужен в случае, если пользователь кликает на элемент слайдера,
содержащего в себе video.
Для псевдо элемента "before" необходимо сделать иные стили.
 */
    display: block;
	margin-top: 100%;
	content: ''
}
.goodsPosition .gImage .product-image img{
    width: 100%;
}

/* ===========================================================
             Страница article (просмотр статьи)
=========================================================== */
.Article.articleInner .articleBlock .image:before {
/*
Этот параметр задается в основных стилях style.css
В основных стилях я не стал ничего трогать, а просто тут переназначил.
 */
    margin-top: 0;
}
.Article.articleInner .articleBlock .image img {
    width: 100%;
}