@font-face {
    font-family: fontawesome;
    src: url(../fonts/fontawesome-webfont.eot?) format("eot"), url(../fonts/fontawesome-webfont.woff2) format("woff2"), url(../fonts/fontawesome-webfont.woff) format("woff"), url(../fonts/fontawesome-webfont.ttf) format("truetype"), url(../fonts/fontawesome-webfont.svg#fontawesome) format("svg")
}

.device-menu__icon, .navMenu .header__form-search {
    display: none;
}

.navMenu .header__form-search.display {
    display: block;
    position: absolute;
    margin: 1em;
    right: 0;
}

.header--wrapper {
    background-color: #fff
}

.header--wrapper.__fixed {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, .18);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .18)
}

/*
    12.03.18
*/

.homeLine .wrapperSl .owl-carousel .owl-stage-outer .owl-stage {
    display: flex;
    align-items: stretch;
}

.homeLine .wrapperSl .owl-carousel .owl-stage-outer .owl-stage .owl-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-right: 1px solid #ececdd;
}

.homeLine .wrapperSl .owl-carousel .owl-stage-outer .owl-stage .owl-item .goodsBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 auto;
    margin-right: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-right: 5px;
    padding-left: 5px;
}

.homeLine .wrapperSl .owl-carousel .owl-stage-outer .owl-stage .owl-item .goodsBlock .wrapperPad {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 auto;
    padding-right: 10px
}

.goodsBlock {
}

.goodsBlock .image {
    margin-bottom: 1.5rem;
}

.goodsBlock .title {
    height: auto;
    margin-bottom: 2.5rem;
}

.goodsBlock .title span {
    position: relative;
}

.b-product-block__type {
    font-size: 1.4rem;
    line-height: 1.2em;
}

.stickerPosition {
    left: auto;
    right: 0;
    width: auto;
    padding: 0;
}

.stickerPosition .action {
    /*background-color: #DE5584; */
    border: 2px solid #DE5584;
    color: #DE5584;
}

.stickerPosition .new {
    background-color: #2CA3E6;
    color: #fff;
}

.stickerPosition .action,
.stickerPosition .popular,
.stickerPosition .new,
.stickerPosition .discount {
    width: auto;
    height: auto;
    right: 0;
    left: auto;
    display: block;
    padding: .5rem .5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    min-width: 5.5rem;
}

.goodsBlock .wrapperPad {
    padding: 0;
}

.goodsBlock .pricePosition {
    display: flex;
    /* justify-content: space-between; 
	align-items: flex-end;*/
    align-items: center;
    margin-top: auto;
}

.goodsBlock .pricePosition::after {
    display: none;
}

.goodsBlock .pricePosition .price {
    padding-top: 0;
    height: auto;
}

.goodsBlock .dynamicBlock {
    position: static;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

.goodsBlock:hover .dynamicBlock {
    display: flex;
}

.goodsBlock .dynamicBlock .btn_buyToClick {
    font-size: 1.2rem;
    line-height: 1.2em;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navMenu ul.topMenu > li.dropmenu .submenu li a:hover {
    border-bottom: 1px solid #fff;
}


/*---*/
.btn_addToCart {
    font-size: 0;
    background: none;
    border: 0 !important;
    padding: 0;
    background-color: #8bc34a;
    border-radius: 50%;
    width: 4.4rem;
    height: 4.4rem;
    text-align: center;
    padding-top: 1rem;
}

.btn_addToCart:hover {
    background-color: #72a933;
    transition: all .25s ease-in-out;
}

.btn_addToCart.__in-cart::after {
    content: url(../images/icons/icon_bag_white_plus.svg)
}

/*.btn_addToCart::after {
    content: '\f291';
    font: 1.6rem/1em fontawesome;
    color: #fff;
}*/

.btn_addToCart::after {
    content: url(../images/icons/icon_bag_white.svg);
    height: 24px;
    width: 24px;
    display: block;
    margin: 0 auto;
}

/*---*/

form label {
    font-size: 1.6rem;
    line-height: 1em;
    text-align: left;
    padding-bottom: 1rem;
}

form input, form textarea {
    text-align: left;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

form textarea {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.formContacts {
    width: 100%;
    max-width: 76rem;
}

.header {
    z-index: 9999;
}

.goodsPosition .gSelect .gSelectWrapper .btn_addToCart {
    position: relative;
}

.goodsPosition .gSelect .gSelectWrapper .btn_addToCart::after {
    position: absolute;
    z-index: 9;
    top: 1rem;
    left: 3rem;
}

.goodsPosition .gSelect .gSelectWrapper .btn_addToCart.addCart.__in-cart {
    background-color: #fb9555;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}

.btn_addToCart.addCart.__in-cart {
    background-color: #578A1C;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}

#popupEntreg .popupClose {
    position: fixed;
    width: 4rem;
    height: 4rem;
}

#popupEntreg .tabInterface .tabHead {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    border-bottom: 1px solid #dedede;
}

#popupEntreg .tabInterface .tabHead > li {
    width: 50%;
    padding: 1.5rem !important;
    background-color: #82c453;;
}

#popupEntreg .tabInterface .tabHead > li.current {
    position: relative;
}

#popupEntreg .tabInterface .tabHead > li.current::after {
    content: '';
    position: absolute;
    z-index: 2;
    bottom: -.1rem;
    left: 0;
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: #82c453;
}

#popupEntreg .tabInterface .tabHead > li .title {
    margin-bottom: 0;
    font-size: 2.4rem;
    line-height: 1.2em;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

#popupEntreg .tabInterface .tabBody > li {
    padding: 3rem;
}

h1, .bTitle {
    color: #000;
}

.goodsPosition .gImage ul.image_mini li {
    width: 20%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    margin-bottom: 3%;
}

.header__position-right-wrapper {
    color: transparent;
}

.header__position-right-wrapper .header__telephone {
    margin-right: 1rem;
}

.header__position-right-wrapper .header__telephone:last-child {
    margin-right: 0;
}

.header__position-right-wrapper .header__telephone:last-child::after {
    display: none;
}

.header__position-right-wrapper .header__telephone::after {
    content: '•';
    font: 1.6rem/1.2em "Proxima Nova";
    color: #8bc34a;
    margin-left: 1rem;
}


@media screen and (max-width: 1280px) {
    .footer .Insta {
        width: auto;
    }

    .goodsPosition .gSelect .gSelectWrapper .btn_addToCart::after {
        left: 2rem;
    }

    .header__basket, .header__feedback, .header__login {
        padding: 1rem 3rem;
    }
}

@media screen and (min-width: 1000px) {
    .navMenu ul.topMenu > li.dropmenu.open .submenu {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .navMenu ul.topMenu > li.dropmenu.open .submenu ul {
        padding: 1rem 1.5rem;
    }

    .formSubscribe {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .formSubscribe::after {
        display: none;
    }

    .formSubscribe .string {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }

    .formSubscribe .string label {
        text-align: right;
    }

    .formSubscribe .string input {
        width: 100%;
        margin-top: 0;
        margin-right: 1.5rem;
    }

    .formSubscribe .string button {
        flex: 1 0 auto;
    }

    .goodsPosition .gSelect .gSelectWrapper .btn_addToCart::after {
        left: 1rem;
    }
	
	.wrapperOptions .header__logotype, .header__position-right-wrapper.mob {
    display: none;
	}
		
}

@media screen and (max-width: 1000px) {
    #cart_right.__fixed {
        margin-top: 0;
    }
	
}

@media screen and (max-width: 999px) {
    .header--wrapper.__fixed .navMenu {
        position: fixed;
        z-index: 1;
        /*top: 64px*/
        top: 8% !important;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-y: scroll
    }
	
	.header__top-menu-mob {
    display: none;
	}

    .header__position-middle {
        position: relative;
        z-index: 2;
        background-color: #fff;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .header__position-middle .header__form-search {
        display: none
    }
	
	.header__logotype.display, .header__position-right-wrapper.display {
		display: none
	}

    .header__basket, .header__feedback, .header__login {
        padding: 1rem 2.3rem
    }

    .header__feedback:before {
        content: '';
        position: absolute;
        z-index: 2;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 0;
        display: block;
        width: 1px;
        height: 60%;
        background-color: #fff
    }

    .device-menu__icon {
        display: block;
        padding: 1rem 2.3rem;
        position: relative
    }

    .device-menu__icon:before {
        content: '';
        position: absolute;
        z-index: 2;
        top: 100%;
        right: 0;
        display: none;
        width: 100%;
        height: 1rem;
        background-color: #f7f7f7
    }

    .device-menu__icon:after {
        content: url(../images/icons/icon_menu.svg);
        height: 24px;
        width: 24px;
        display: block;
    }

    /*.device-menu__icon:after {
        content: '\F0C9';
        font: 2.8rem/1em fontawesome;
        color: #fb873e
    }*/
    .device-menu__icon.is-active {
        background-color: #f7f7f7
    }

    .device-menu__icon.is-active:before {
        display: block
    }

    .navMenu {
        z-index: 9999;
        background-color: #f7f7f7;
    }

    .navMenu:before {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0
    }

    .navMenu .header__form-search {
        display: block;
        max-width: 100%;
        padding: 2rem 1rem 1rem;
    }

    .navMenu .header__form-search button {
        top: 2rem;
        right: 1rem
    }

    .navMenu ul.topMenu li {
        border-bottom: 1px solid #d1d1d1
    }

    .navMenu ul.topMenu li:last-child {
        border-bottom: 0
    }

    .navMenu ul.topMenu li a {
        color: #464646
    }

    .navMenu ul.topMenu li span {
        color: #464646
    }

    .navMenu ul.topMenu > li.dropmenu .submenu {
        background-color: #ffffff !important
    }

    .navMenu ul.topMenu > li.dropmenu .submenu li {
        border-bottom: 1px solid #fff !important
    }

    .navMenu ul.topMenu > li.dropmenu .submenu li:last-child {
        border-bottom: 0 !important
    }

    .navMenu ul.topMenu > li.dropmenu .submenu li a {
        white-space: normal;
        line-height: 1.2em
    }
	
	.navMenu ul.topMenu > li.dropmenu:hover, .navMenu ul.topMenu > li:hover {
	background-color: #e4e2e2;
 	}
    #modalCartWindow {
        right: -10px;
        overflow-y: scroll
    }

    .fFacebookWrapper::after {
        content: '';
        display: table;
        clear: both;
    }

    .footer {
        display: flex;
    }

    .footer .fMenu {
        order: 1;
    }

    .footer .fFacebookWrapper {
        order: 2;
        width: 100%;
        padding: 2rem 0;
    }

    .footer .copyright {
        order: 3;
    }

    .footer .Insta {
        float: left;
        padding: 0;
    }

    .footer .fFacebookWrapper li:last-child .Insta img {
        margin-right: 0;
    }

    .popup .popupClose {
        top: -5.5rem;
    }

    .goodsPosition .gSelect .gSelectWrapper .btn_addToCart::after {
        left: 1rem;
    }

}

@media screen and (max-width: 767px) {
    .header__position-top {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .header__position-left-wrapper, .header__position-right-wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .header__position-left-wrapper {
        /* padding-right: 2rem; */
        justify-content: center;
    }

    .header__logotype {
        max-width: 10rem;
        margin-left: 3rem;
    	margin-right: 3rem;
    }

    .header__logotype img {
        max-width: 100%
    }

    .header__basket, .header__feedback, .header__login {
        padding: 1rem 2rem
    }

    .device-menu__icon {
        padding: 1rem 2rem
    }

    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer .copyright, .footer .fMenu, .footer .Insta {
        text-align: center;
        margin-right: 0;
    }

    .footer .fMenu ul li {
        margin-right: 0;
    }

    .footer .fFacebookWrapper {
        text-align: center;
    }

    .footer .fFacebookWrapper li {
        display: inline-block;
        vertical-align: middle;
    }

    #popupEntreg .tabInterface .tabBody > li .formPopupEnter .string input, #popupEntreg .tabInterface .tabBody > li .formPopupRegister .string input {
        width: 100%;
    }
}

@media screen and (max-width: 540px) {
    .header__position-middle {
        padding-right: 0;
        padding-left: 1.5rem
    }

    .btn_Form {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .goodsPosition .gImage ul.image_mini li {
        width: 20%;
        margin-right: 1.5%;
        margin-left: 1.5%;
        margin-bottom: 2%;
    }
}

@media screen and (max-width: 479px) {
    /*.header--wrapper.__fixed .header__logotype {
        display: none
    }*/

    .header__position-top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .header__position-middle {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-left: 0
    }

    .header__position-left-wrapper, .header__position-right-wrapper {
        width: 100%
    }

    .header__position-left-wrapper {
        margin-bottom: 1rem
    }

    .header__position-right-wrapper {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: center;
		margin-top: 20px;
    }

    .header__basket, .header__feedback, .header__login {
        padding: 1rem 1.3rem
    }

    .device-menu__icon {
        padding: 1rem 1.3rem
    }

    #modalCartWindow {
        right: 0!important;
        min-width: 320px
    }

    .formContacts .string.captcha .captcha input {
        width: 14rem;
    }

    .formContacts .string.captcha .captcha .image {
        height: 40px;
        float: right;
        margin-right: 0;
        text-align: right;
    }

    .formContacts .string.captcha .captcha .image img {
        height: auto;
        max-width: 100%;
        display: inline-block;
    }

    .formContacts .string.captcha .captcha .changeImage {
        float: right;
        position: relative;
        z-index: 1;
    }

    #popupEntreg .tabInterface .tabBody > li {
        padding: 2rem !important;
    }

    #popupEntreg .tabInterface .tabHead > li .title {
        font-weight: normal;
        font-size: 1.8rem;
    }

    .navMenu .header__form-search.display {
        display: none;
    }
	
	.header__top-menu-mob {
    display: block;
    padding: 20px 25px;
	}
	
	.header__top-menu-mob li a {
    font: 1.6rem/1.7em Arial,sans-serif;
    color: #464646;
	}
	
	/*.header__telephone {
		display: none;
	}*/

    /*.breadcrumbsWrapper {
        display: none
    }*/
	
}  

@media screen and (max-width: 320px) {
	.header__basket, .header__feedback, .header__login {
        padding: 1rem 0.7rem
    }
	
	.header__logotype {
		max-width: 10rem;
		margin-left: 2rem;
		margin-right: 2rem;
	}
}  