body,
html {
	height: 100%;
	font-size: 10px
}

body *,
html * {
	box-sizing: border-box
}

body a,
html a {
	text-decoration: none
}

body ul,
html ul {
	list-style: none;
	padding: 0;
	margin: 0
}

body p,
html p {
	margin-top: 0
}

body .tenge,
html .tenge {
	font-size: .75em!important;
	font-family: Tenge!important;
	font-weight: 400!important
}

body {
	background-color: #f9f9f9
}

.catalog-filter__control,
.catalog__column {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal
}

.catalog-filter__control {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding-bottom: 30px
}

.catalog-filter__control .__left__wrapper,
.catalog-filter__control .__right__wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

.catalog-filter__control .__left__wrapper {
	width: 23.70689655172414%;
	margin-right: 1.724137931034483%
}

.catalog-filter__control .__right__wrapper {
	width: 74.56896551724138%
}

.catalog-filter__control .__right__wrapper .cf__filter__sort {
	width: 34.104046242774565%;
	min-width: 200px;
	text-align: right
}

.cf__filter__sort .__text,
.cf__filter__switch .__text {
	font: bold 1.5rem/1.666666666666667em 'Proxima Nova', Helvetica, sans-serif;
	color: #9e9e9e;
	text-transform: uppercase
}

/*.cf__filter__switch.open .__text:before {*/
	/*background-image: url(../images/sprites/sprite_icons.png);*/
	/*background-position: 0 -73px;*/
/*	width: 24px;*/
/*	height: 19px;*/
/*	font-family: fontawesome;*/
/*	font-size: 20px;*/
/*	content: '\f00b';*/
/*}*/

.cf__filter__switch.open .__text .__show {
	display: inline
}

.cf__filter__switch.open .__text .__hide {
	display: none
}

.cf__filter__switch .__text {
	padding-left: 45px;
	position: relative;
	cursor: pointer
}

.cf__filter__switch .__text:before {
	/*content: '';*/
	position: absolute;
	z-index: 9;
	top: 1px;
	left: 10px;
	display: block;
	color: #8bc34a;
	font-family: fontawesome;
	font-size: 20px;
	content: '\f00b';
	/*background-image: url(../images/sprites/sprite_icons.png);*/
	/*background-position: -31px -45px;*/
	/*width: 24px;*/
	/*height: 19px*/
}

.cf__filter__switch .__text .__hide,
.cf__filter__switch .__text .__show {
	font-style: normal;
	margin-right: 5px
}

.cf__filter__switch .__text .__show {
	display: none
}

.cf__filter__switch .__text .__hide {
	display: inline
}

.cf__filter__search {
	width: 65.89595375722543%
}

.cf__filter__search form.form__header__top_search {
	width: 100%
}

.cf__filter__search form.form__header__top_search input {
	font: 1.5rem Calibri, Helvetica, sans-serif;
	letter-spacing: .1em;
	border: 1px solid #ccc
}

.cf__filter__search form.form__header__top_search button.form__btn__search {
	-webkit-transform: scale(1);
	transform: scale(1)
}

.cf__filter__search form.form__header__top_search .form__reset {
	opacity: 1
}

.cf__filter__sort .active {
	display: inline;
	cursor: pointer;
	position: relative
}

.cf__filter__sort .active span {
	font-weight: 700;
	color: #84b964;
	border-bottom: 1px dotted #82b862;
	margin-right: 15px;
	position: relative
}

.cf__filter__sort .active span:after {
	content: '';
	position: absolute;
	z-index: 9;
	top: 5px;
	right: -15px;
	display: block;
	background-image: url(../images/sprites/sprite_icons.png);
	background-position: -150px -10px;
	width: 8px;
	height: 5px
}

.cf__filter__sort .active .__subwindow ul li a {
	font: 1.6rem/1.25em Calibri, Helvetica, sans-serif;
	color: #000;
	text-transform: none
}

.cf__filter__sort .active .__subwindow ul li a:hover {
	border-bottom: 1px solid #030303
}

.catalog__column {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	padding-bottom: 60px;
	overflow: hidden
}

.catalog__column.filter__hide .catalog-filter__column {
	margin-left: -25.43103448275862%;
	-webkit-transition: margin-left .2s ease-in;
	transition: margin-left .2s ease-in
}

.catalog__column.filter__hide .catalog-goods__column {
	width: 100%
}

.catalog__column.filter__hide .catalog-goods__column .goods-blocks__array .goods-blocks__block {
	width: 23.70689655172414%;
	margin-right: 1.724137931034483%;
	margin-bottom: 20px
}

.catalog__column.filter__hide .catalog-goods__column .goods-blocks__array .goods-blocks__block:nth-child(3n+3) {
	margin-right: 1.724137931034483%
}

.catalog__column.filter__hide .catalog-goods__column .goods-blocks__array .goods-blocks__block:nth-child(4n+4) {
	margin-right: 0
}

.catalog-filter__column {
	width: 23.70689655172414%;
	margin-right: 1.724137931034483%;
	margin-left: 0;
	-webkit-transition: margin-left .2s ease-in;
	transition: margin-left .2s ease-in
}

.catalog-filter__column .filter-block__header {
	display: none
}

.cf__filter__column {
	padding-bottom: 12px;
	margin-bottom: 25px;
	border-bottom: 1px solid #e6e6e6
}

.cf__filter__column .__title {
	font: 700 1.7rem/1.411764705882353em Calibri, Helvetica, sans-serif;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 16px
}

.cf__filter__column .__title a {
	font: 700 1.5rem/1.411764705882353em Calibri, Helvetica, sans-serif;
	color: #000
}

.cf__filter__column .__title a i {
	font-style: normal;
	color: #666
}

.cf__filter__column .string {
	margin-bottom: 10px
}

.cf__filter__column .string a {
	font: 1.6rem/1.375em Calibri, Helvetica, sans-serif;
	color: #000
}

.cf__filter__column .string a i {
	font-style: normal;
	color: #666
}

.catalog-goods__column {
	width: 74.56896551724138%;
	padding-bottom: 10px
}

.catalog-goods__column .goods-blocks__array .goods-blocks__block {
	width: 31.79190751445087%;
	margin-right: 2.312138728323699%;
	margin-bottom: 20px
}

.catalog-goods__column .goods-blocks__array .goods-blocks__block:nth-child(3n+3) {
	margin-right: 0
}

.catalog-goods__column .btn__black {
	display: table;
	margin: 30px auto 0
}

@media all and (max-width:999px) {
	.catalog-filter__control .__left__wrapper {
		-webkit-align-self: flex-start;
		-ms-flex-item-align: start;
		align-self: flex-start;
		width: 48.38709677419355%;
		margin-right: 3.225806451612903%
	}
	.catalog-filter__control .__right__wrapper {
		-webkit-align-self: flex-start;
		-ms-flex-item-align: start;
		align-self: flex-start;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: end;
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		-webkit-box-align: end;
		-webkit-align-items: flex-end;
		-ms-flex-align: end;
		-ms-grid-row-align: flex-end;
		align-items: flex-end;
		width: 48.38709677419355%
	}
	.catalog-filter__control .__right__wrapper .cf__filter__search {
		-webkit-box-ordinal-group: 3;
		-webkit-order: 2;
		-ms-flex-order: 2;
		order: 2;
		width: 206.66666666666669%;
		display: block
	}
	.catalog-filter__control .__right__wrapper .cf__filter__sort {
		-webkit-box-ordinal-group: 2;
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;
		width: 100%;
		margin-bottom: 30px
	}
	.catalog-filter__control .cf__filter__switch.open .__text .__show {
		display: none
	}
	.catalog-filter__control .cf__filter__switch.open .__text .__hide {
		display: inline
	}
	.catalog__column.filter__hide .catalog-filter__column {
		left: 0;
		margin-left: 0;
		-webkit-transition: left .2s ease-in;
		transition: left .2s ease-in
	}
	.catalog__column.filter__hide .catalog-goods__column .goods-blocks__array .goods-blocks__block {
		width: 48.38709677419355%;
		margin-right: 3.225806451612903%
	}
	.catalog__column.filter__hide .catalog-goods__column .goods-blocks__array .goods-blocks__block:nth-child(3n+3) {
		margin-right: 3.225806451612903%
	}
	.catalog__column.filter__hide .catalog-goods__column .goods-blocks__array .goods-blocks__block:nth-child(2n+2) {
		margin-right: 0
	}
	.catalog__column .catalog-filter__column {
		position: fixed;
		z-index: 99999;
		top: 0;
		left: -100%;
		display: block;
		width: 100%;
		height: 100%;
		-webkit-transition: left .2s ease-in;
		transition: left .2s ease-in;
		background-color: rgba(0, 152, 220, .7)
	}
	.catalog__column .catalog-filter__column .filter-block__header {
		width: 100%;
		max-width: 340px;
		display: block;
		background-color: #84b964;
		position: absolute;
		z-index: 99;
		top: 0;
		left: 0
	}
	.catalog__column .catalog-filter__column .filter-block__header_close {
		display: block;
		position: absolute;
		z-index: 9;
		top: 50%;
		margin-top: -12px;
		right: 20px;
		cursor: pointer;
		/*-webkit-transform: rotate(180deg);*/
		/*transform: rotate(180deg);*/
		/*background-image: url(../images/sprites/sprite_icons.png);*/
		/*background-position: -105px -28px;*/
		/*width: 14px;*/
		/*height: 25px*/
	}
	.catalog__column .catalog-filter__column .filter-block__header_close::after {
		content: '\f060';
		font-family: fontawesome;
		font-size: 20px;
	}
	.catalog__column .catalog-filter__column .filter-block__header_title {
		font: 700 1.6rem/1.125em Calibri, Helvetica, sans-serif;
		color: #010101;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: .01em;
		padding: 17px 50px 15px
	}
	.catalog__column .catalog-filter__column .filter-block__body__wrapper {
		width: 100%;
		max-width: 340px;
		background-color: #fff;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		height: 100%;
		max-height: 100%;
		padding: 80px 20px 30px
	}
	.catalog-goods__column {
		width: 100%
	}
	.catalog-goods__column .goods-blocks__array .goods-blocks__block {
		width: 48.38709677419355%;
		margin-right: 3.225806451612903%;
		margin-bottom: 20px
	}
	.catalog-goods__column .goods-blocks__array .goods-blocks__block:nth-child(3n+3) {
		margin-right: 3.225806451612903%
	}
	.catalog-goods__column .goods-blocks__array .goods-blocks__block:nth-child(2n+2) {
		margin-right: 0
	}
}

.goods-inner__top-section.in-bookmark .goods-inner__description .__description__bottom__wrapper .__description__bottom__link__bookmarks span,
.goods-inner__top-section.in-compare .goods-inner__description .__description__bottom__wrapper .__description__bottom__link__compare span {
	color: #fff
}

@media all and (max-width:699px) {
	.catalog-filter__control .__left__wrapper {
		width: 100%;
		margin-right: 0
	}
	.catalog-filter__control .__right__wrapper,
	.catalog-filter__control .__right__wrapper .cf__filter__search {
		width: 100%
	}
	.catalog-filter__control .__right__wrapper .cf__filter__sort {
		width: 100%;
		text-align: left
	}
	.catalog-filter__control {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		-ms-grid-row-align: flex-start;
		align-items: flex-start
	}
	.catalog-filter__control .cf__filter__switch {
		margin-bottom: 15px
	}
	.catalog-goods__column .goods-blocks__array .goods-blocks__block {
		width: 49.5%;
		margin-right: 1%;
		padding: 15px 10px 25px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center
	}
	.catalog-goods__column .goods-blocks__array .goods-blocks__block:nth-child(2n+2),
	.catalog-goods__column .goods-blocks__array .goods-blocks__block:nth-child(3n+3) {
		margin-right: 0
	}
	.catalog-goods__column .goods-blocks__array .goods-blocks__block:nth-child(odd) {
		margin-right: 1%
	}
	.catalog-goods__column .goods-blocks__array .goods-blocks__block:hover .goods-blocks__block__wrapper {
		height: auto;
		margin-top: 0
	}
	.catalog-goods__column .goods-blocks__array .goods-blocks__block .goods-blocks__block__wrapper {
		padding-top: 10px;
		height: auto;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		background: 0 0
	}
	.catalog-goods__column .goods-blocks__array .goods-blocks__block .goods-blocks__block__wrapper:after {
		display: none
	}
	.catalog-goods__column .goods-blocks__array .goods-blocks__block .goods-blocks__block__manufacturer {
		font-size: 1.4rem;
		line-height: 1.428571428571429em
	}
	.catalog-goods__column .goods-blocks__array .goods-blocks__block .goods-blocks__block__category {
		font-size: 1.2rem;
		line-height: 1.666666666666667em
	}
	.catalog-goods__column .goods-blocks__array .goods-blocks__block .goods-blocks__block__title {
		font-size: 1rem;
		line-height: 1.142857142857143em;
		height: auto;
		overflow: visible
	}
	.catalog-goods__column .goods-blocks__array .goods-blocks__block .goods-blocks__block__title a {
		font-size: 1rem;
		line-height: 1.142857142857143em
	}
	.catalog-goods__column .goods-blocks__array .goods-blocks__block .goods-blocks__block_price {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		-ms-grid-row-align: center;
		align-items: center;
		margin-top: 15px;
		margin-bottom: 15px
	}
	.catalog-goods__column .goods-blocks__array .goods-blocks__block .goods-blocks__block_bottom .goods-blocks__block__link__bookmarks,
	.catalog-goods__column .goods-blocks__array .goods-blocks__block .goods-blocks__block_price .goods-blocks__block__price-old {
		margin-bottom: 10px
	}
	.catalog-goods__column .goods-blocks__array .goods-blocks__block .goods-blocks__block_price .goods-blocks__block__price-new {
		font-size: 1.5rem;
		line-height: 1.333333333333333em
	}
	.catalog-goods__column .goods-blocks__array .goods-blocks__block .goods-blocks__block_btn__buy {
		padding: 11px 15px 10px
	}
	.catalog-goods__column .goods-blocks__array .goods-blocks__block .goods-blocks__block_btn__buy span {
		font-size: 1.2rem
	}
	.catalog-goods__column .goods-blocks__array .goods-blocks__block .goods-blocks__block_btn__buy span:before {
		top: -3px
	}
	.catalog-goods__column .goods-blocks__array .goods-blocks__block .goods-blocks__block_bottom {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column
	}
}


input[type=checkbox]+label,
input[type=radio]+label {
	margin-left: 7px;
	font: 1.6rem/1.5em "Proxima Nova", Helvetica, sans-serif;
	color: #333;
	position: relative;
	cursor: pointer;
	display: block;
	margin-bottom: 0!important;
	padding-bottom: 0 !important;
	padding-left: 25px;
}

input[type=checkbox]+label i,
input[type=radio]+label i {
	color: #999;
	font-style: normal
}

input[type=checkbox]+label:before {
	position: absolute;
	z-index: 9;
	top: 4px;
	left: 0;
	/*background-image: url(../images/sprites/sprite_icons.png);*/
	/*background-position: -50px -97px;*/
	/*width: 20px;*/
	/*height: 20px;*/
	font-family: fontawesome;
	font-size: 18px;
	/*content: '\f096';*/
}

input[type=checkbox]:checked+label {
	color: #84b964
}

input[type=checkbox]:checked+label:before {
	/*background-image: url(../images/sprites/sprite_icons.png);*/
	/*background-position: -25px -97px;*/	/*width: 20px;*/
	/*height: 20px*/
	/*content: '\f14a';*/
}


.__subwindow {
	display: none;
	margin-top: 17px;
	position: absolute;
	z-index: 999;
	top: 100%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	padding: 20px 30px
}

.__subwindow .__triangle,
.__subwindow .__triangle:after {
	position: absolute;
	z-index: 9;
	margin-left: -7px;
	width: 14px;
	height: 14px;
	display: block;
	left: 50%
}

.__subwindow.reverse {
	top: auto;
	bottom: 100%;
	margin-top: 0;
	margin-bottom: 17px
}

.__subwindow.reverse .__triangle {
	top: auto;
	bottom: -14px
}

.__subwindow.reverse .__triangle:after {
	top: -9px
}

.__subwindow.open {
	display: block
}

.__subwindow .__triangle {
	top: -14px;
	overflow: hidden
}

.__subwindow .__triangle:after {
	top: 9px;
	border: 1px solid #e5e5e5;
	box-sizing: border-box;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}

.__subwindow,
.__subwindow .__triangle:after {
	background-color: #94c858;
	box-shadow: 1px 0 7px rgba(0, 0, 0, .19)
}

.__triangle::after {
    content: '';
}


.catalog__column .catalog-goods__column .goodsBlock {
	width: 24.7% !important;
}

.catalog__column.filter__hide .catalog-goods__column .goodsBlock {
	width: 18% !important;
}

.btn__green {
	background-color: #8bc34a;
	font: 700 1.3rem/1em Calibri,Helvetica,sans-serif;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .01em;
	color: #fff;
	padding: 18px 30px;
	-webkit-transition: background-color .2s ease-in,color .2s ease-in;
	transition: background-color .2s ease-in,color .2s ease-in;
	display: table;
	margin: 30px auto 0;
}
.btn__green:hover {
	background-color: #afafae;
	-webkit-transition: background-color .2s ease-in,color .2s ease-in;
	transition: background-color .2s ease-in,color .2s ease-in;
}

#filter__scrollbar {
	overflow-y: auto;
}

.navMenu ul.topMenu > li.dropmenu.open .submenu {
	box-shadow: 1px 1px 10px rgba(0,0,0,.2);
}

.goodsBlocks {
	display: flex !important;
	flex-wrap: wrap;
	align-items: stretch;
}

.goodsBlocks .goodsBlock {
	display: flex !important;
	flex-direction: column;
}

.goodsBlocks .goodsBlock .wrapperPad {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

/*.goodsBlocks .goodsBlock .wrapperPad .dynamicBlock {*/
	/*margin-top: auto;*/
/*}*/


@media (max-width: 1280px) {
	.Goods.goodslist .goodsBlocks .goodsBlock {
		display: block;
		float: left;
		width: 22% !important;
	}
}

@media (max-width: 999px) {
	.Goods.goodslist .goodsBlocks .goodsBlock {
		float: none;
		width: 100% !important;
	}
}


@media (max-width: 999px) {
	.Goods.goodslist .goodsBlocks .goodsBlock {
		float: none;
		width: 100% !important;
		margin: 2px;
   		border-bottom: 1px solid #d8d7d7;
	}
}

/* MENU WITH SUBMENU */
@media screen and (min-width: 999px) {
	.submenu .ul-submenu {
		width: 100%;
		column-count: 3;
		padding: 0 !important;
	}
	.topMenu .dropmenu.open ul.submenu ul.subsub {
		display: block;
		background-color: unset;
		margin: 0;
		padding-left: 13px !important;
	}

	.topMenu .dropmenu.open ul.submenu {
		overflow-y: auto;
		/*max-height: calc(100vh - 354px);*/
	}

	.topMenu .dropmenu.open ul.submenu::-webkit-scrollbar {
		width: 5px;
	}

	.topMenu .dropmenu.open ul.submenu::-webkit-scrollbar-track {
		background: #a4de62;
	}

	.topMenu .dropmenu.open ul.submenu::-webkit-scrollbar-thumb {
		background: #97c661;
	}

	.topMenu .dropmenu.open ul.submenu ul.subsub li,
	.topMenu .dropmenu.open ul.submenu ul.subsub li a {
		font-size: 13px !important;
		font-weight: normal !important;
		border-bottom: 0;
	}
	.topMenu .dropmenu.open ul.submenu ul.subsub li:first-child {
		display: none;
	}
	.topMenu .dropmenu.open ul.submenu ul.subsub li a {
		padding: 0 !important;
	}
	.topMenu .dropmenu.open ul.submenu ul.subsub li a:hover {
		border-bottom: 1px solid #fff;
	}
}

@media screen and ( min-height: 715px) and (min-width: 999px) {
	.topMenu .dropmenu.open ul.submenu {
		max-height: 530px;
	}
}

@media screen and (max-height: 714px) and (min-width: 999px) {
	.topMenu .dropmenu.open ul.submenu {
		max-height: 346px;
	}
}