:root {
    --ul-font-size: 14px;
}

/*
////////////////////////////////////////
////           Демо #1              ////
////////////////////////////////////////
*/

.dropcontainer {
    position:relative;
    font-size: 16px;
    color: #777;
}

.trigger {
    color: #777;
    padding: 10px;
    font-size: 16px;
    width: 50%;
    background: #fff url(../images/select-arrow-open.png) 98% center no-repeat;
    display: block;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.trigger:hover {
    color: #777;
    background: #f5f5f5 url(../images/select-arrow-open.png) 98% center no-repeat;
}

.activetrigger {
    color: #777;
    padding: 10px;
    font-size: 16px;
    width: 50%;
    background: #f5f5f5 url(../images/select-arrow-close.png) 98% center no-repeat;
    display: block;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.activetrigger:hover {
    background: #f5f5f5 url(../images/select-arrow-close.png) 98% center no-repeat;
    color: #777;
}

.activetrigger:active {
    background: #f5f5f5 url(../images/select-arrow-close.png) 98% center no-repeat;
    color: #777;
}

.dropcontainer ul {
    font-size: 16px;
    border: 1px solid #ccc;
    border-top: none;
    background: #fff;
    list-style-type: none;
    padding: 10px;
    margin: 0;
    width: 50%;
    z-index: 100;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.dropcontainer ul li {
    padding: 5px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.dropcontainer ul li:hover {
    background: #f5f5f5;
    outline: none;
}

.dropcontainer ul li:first-child {
    display: none;
}

.dropcontainer ul li:last-child {
    border-bottom: none;
}

.dropdownhidden {
    display: none;
}

.dropdownvisible {
    height: auto;
}


/*
////////////////////////////////////////
////           Демо #2              ////
////////////////////////////////////////
*/


.dropcontainer_demo2 {
    position:relative;
    font-size: var(--ul-font-size);
    color: #777;
}

.trigger_demo2 {
    color: #777;
    padding: 10px;
    font-size: var(--ul-font-size);
    width: 100%;
    background: #fff url(../images/select-arrow-open.png) 94% center no-repeat;
    background-size: 12px;
    display: block;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-radius: 5px;
}

.trigger_demo2:hover {
    color: #777;
    background: #f5f5f5 url(../images/select-arrow-open.png) 94% center no-repeat;
    background-size: 12px;
}

.activetrigger_demo2 {
    color: #777;
    padding: 10px;
    font-size: var(--ul-font-size);
    width: 100%;
    background: #f5f5f5 url(../images/select-arrow-close.png) 94% center no-repeat;
    background-size: 12px;
    display: block;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
}

.activetrigger_demo2:hover {
    background: #f5f5f5 url(../images/select-arrow-close.png) 94% center no-repeat;
    background-size: 12px;
    color: #777;
}

.activetrigger_demo2:active {
    background: #f5f5f5 url(../images/select-arrow-close.png) 94% center no-repeat;
    background-size: 12px;
    color: #777;
}

.dropcontainer_demo2 ul {
    font-size: var(--ul-font-size);
    border: 1px solid #ccc;
    border-top: none;
    background: #fff;
    list-style-type: none;
    padding: 10px;
    margin: 0;
    width: 100%;
    z-index: 100;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.dropcontainer_demo2 ul li {
    padding: 5px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.dropcontainer_demo2 ul li a {
    color:#80858d;
}

.dropcontainer_demo2 ul li:hover {
    background: #E4E4E4;
    outline: none;
}

.dropcontainer_demo2 ul li:first-child {
    display: none;
}

.dropcontainer_demo2 ul li:last-child {
    border-bottom: none;
}

.dropdownhidden_demo2 {
    display: none;
}

.dropdownvisible_demo2 {
    height: auto;
    position: absolute;
}

.dropdownvisible_demo2 {
    height: 200px;
    overflow-y: scroll;
}

.product-count.b-p{
    padding-left: 45%;
}



























